<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #8e7cc3; color: white;">
    <ion-title style="text-align: center; font-weight: bold;">Totem de Atendimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-bg">
  <div class="white-card">
    <h2 class="title">Retire sua Senha</h2>
    <p class="subtitle">Selecione o tipo de atendimento abaixo:</p>

    <ion-button expand="block" class="btn-sp" (click)="emitirSenha('SP')">
      Prioridade (SP)
    </ion-button>

    <ion-button expand="block" class="btn-se" (click)="emitirSenha('SE')">
      Exames (SE)
    </ion-button>

    <ion-button expand="block" class="btn-sg" (click)="emitirSenha('SG')">
      Geral (SG)
    </ion-button>

    <div *ngIf="senhaGerada" class="result-box">
      <p>Sua senha:</p>
      <h1 class="senha-destaque">{{ senhaGerada }}</h1>
    </div>
  </div>
</ion-content>